body
{
    color: rgb(36, 139, 79);
    text-align: left;
    font-family: "Arial";
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(97, 33, 33);
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}